<div class="col-md-8">
    <div class="inside">
       <h2 style="text-align: center;">Ruta de estudio</h2>
       <div id="charts_div">
           
           <div class="col-md-4 tip"><a href="/user/familia/lecciones" class="icon-hamburguesa">Introducción</a></div>
           <div class="col-md-4 tip"><a href="/user/familia/lecciones" class="icon-pizza">Nivel 1</a></div>
           <div class="col-md-4 tip"><a href="/user/familia/lecciones" class="icon-galleta">Nivel 2</a></div>
           <div class="corte"></div>
           <div class="col-md-4"></div><div class="col-md-4 tip"><a href="/user/familia/test" class="icon-cafe">Test 1</a></div><div class="col-md-4"></div>
           <div class="corte"></div>
           <div class="col-md-4 tip"><a href="/user/familia/lecciones" class="icon-banana">Nivel 3</a></div>
           <div class="col-md-4 tip"><a href="/user/familia/lecciones" class="icon-pina">Nivel 4</a></div>
           <div class="col-md-4 tip"><a href="/user/familia/lecciones" class="icon-plato">Nivel 5</a></div>
           <div class="corte"></div>
           <div class="col-md-4"></div><div class="col-md-4 tip"><a href="/user/familia/test" class="icon-cafe">Test 2</a></div><div class="col-md-4"></div>
           <div class="corte"></div>
           <div class="col-md-4 tip"><a href="/user/familia/lecciones" class="icon-fresa">Nivel 6</a></div>
           <div class="col-md-4 tip"><a href="/user/familia/lecciones" class="icon-carne">Nivel 7</a></div>
           <div class="col-md-4 tip"><a href="/user/familia/lecciones" class="icon-uvas">Nivel 8</a></div>
           <div class="corte"></div>
           <div class="col-md-4"></div><div class="col-md-4 tip"><a href="/user/familia/test" class="icon-cafe">Test 3</a></div><div class="col-md-4"></div>
           <div class="corte"></div>
           <div class="col-md-6 tip"><a href="/user/familia/lecciones" class="icon-sopa">Nivel 9</a></div>
           <div class="col-md-6 tip"><a href="/user/familia/lecciones" class="icon-pastel">Nivel 10</a></div>
           <div class="corte"></div>
           <div class="col-md-4"></div><div class="col-md-4 tip"><a href="/user/familia/test" class="icon-cafe">Test 4</a></div><div class="col-md-4"></div>
           <div class="corte"></div>
           
       </div>
       <div style="clear: both;"></div>
    </div>
</div>
<div class="col-md-4">
    <div class="inside sidebar">
        <div class="progreso">
            <img src="/img/progreso.jpg">
            <div class="avance">Avance</div>
            <a href="#" class="test-link">Ir a tips</a>
        </div>
        
    </div>
</div>