<div class="col-md-8">
    <div class="inside">
       <h2>Compra de alimentos</h2>
       <div id="charts_div"></div>
       <div style="clear: both;"></div>
    </div>
</div>
<div class="col-md-4">
    <div class="inside sidebar">
        <div class="progreso">
            <img src="/img/progreso.jpg">
            <div class="avance">Avance</div>
            <a href="#" class="test-link">Ir a tips</a>
        </div>
        
    </div>
</div>
<script>
    var productos;
    $(function(){
        familia.setCompras(<?php echo $this->compras; ?>);
        productos = familia.getListaProductos();

        // Load the Visualization API and the corechart package.
          google.charts.load('current', {'packages':['corechart']});

          // Set a callback to run when the Google Visualization API is loaded.
          google.charts.setOnLoadCallback(drawCharts);
      });
      
      function drawCharts(tipo){
          tipo = tipo || 'pie';
          $( "#charts_div" ).html('');
          for ( p in productos){
                $( "#charts_div" ).append( '<div id="chart_'+productos[p]+'" class="col-md-6"></div>' );
          }
          switch ( tipo ) {
              case 'pie': 
                  for ( p in productos){
                    drawLineChart(productos[p]);
                  }
                  break;
              default: 
                 for ( p in productos){
                    drawPieCharts(productos[p]);
                 }
            }
      }

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawPieCharts(codigo) {//alert(codigo);

        // Create the data table.
        var prod = familia.getProductoInfo(codigo);
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Mes');
        data.addColumn('number', prod.unidad);
        var cantidades = prod.cantidad;
        data.addRows(cantidades.reverse());

        // Set chart options
        var options = {'title':'Cantidad de '+prod.producto+' por mes',
                       'width':300,
                       'height':300};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_'+codigo));
        chart.draw(data, options);
      }
      
      function drawLineChart(codigo) {
        // Create the data table.
        var prod = familia.getProductoInfo(codigo);
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Mes');
        data.addColumn('number', prod.unidad);
        //console.log(prod);
        var cantidades = prod.cantidad;
        data.addRows(cantidades.reverse());

        // Set chart options
        var options = {'title':'Cantidad de '+prod.producto+' por mes',
                       'width':300,
                       'height':300,
                       'legend': { position: 'bottom'}
                   };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.LineChart(document.getElementById('chart_'+codigo));
        chart.draw(data, options);
      }
</script>