<div class="col-md-8">
    <div class="inside">
       <h2 style="text-align: left;">Introducción</h2>
       <div class="col-md-4">
           <div class="leccion">
               <h2>LECCIÓN 1</h2>
               <div class="descripcion">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
               <a href="/user/familia/tip" class="empezar">Empezar</a>
           </div>
       </div>
       <div class="col-md-4">
           <div class="leccion bloqueada">
               <h2>LECCIÓN 2</h2>
               <div class="descripcion">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
               <div class="empezar">Bloqueada</div>
           </div>
       </div>
       <div class="col-md-4">
           <div class="leccion bloqueada">
               <h2>LECCIÓN 3</h2>
               <div class="descripcion">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
               <div class="empezar">Bloqueada</div>
           </div>
       </div>
       <div style="clear: both;"></div>
    </div>
</div>
<div class="col-md-4">
    <div class="inside nivel-info">
        <img src="/img/icons/hamburguesa.png">
        <div class="avance">0/3 Lecciones terminadas</div>
        <a href="#" class="test-link">Realizar test</a>
    </div>
</div>