<div class="col-md-12">
    <div class="inside leccion-tip" >
        <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed bibendum, dui eget vehicula iaculis, odio velit porta quam, vitae ullamcorper metus erat in erat.</h1>
        <img src="https://garethsworld.com/food/files/2013/08/Nutrition-pyramid.jpg">
        <div class="control">
            <a href="#" class="anterior">< Anterior</a>
            <a href="#" class="siguiente">Siguiente ></a>
        </div>
    </div>
</div>