body {
    padding: 0;
    margin: 0;
    background: #eee;
    padding-top: 65px;
}

.corte{
    clear: both;
}

.container-fluid, .container {
    padding: 0;
}

.header {
    background: #4284D3;
    color: #fff;
    font-weight: bold;
}
.header .navbar{
    margin: 0;
    border-radius: 0;
    background: none;
    border: 0;
}
.header .navbar-default .navbar-brand {
    color: #fff;
}
.header .navbar-default .navbar-toggle {
    border: 1px solid #ffa800;
    background: #ffb11b;
}
.header .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.header .navbar-default .navbar-nav > li > a {
    color: #fff;
}
.header .navbar-default .navbar-nav > li > a:hover {
    color: #ffb11b;
}
.header .navbar-default .navbar-nav > li.active a{
    background: #ffb11b;
}
.header .navbar-default .navbar-nav > li.active > a:hover {
    color: #fff;
}
.header .logo{
    /*background: url("/img/mini-logo-nutrifami.png") no-repeat;*/
    display: inline-block;
}
.header .user-info {
    margin: 20px 0;
    text-align: right;
}
.header a {
    color: #fff;
}

.tip {
    text-align: center;
}
.tip a{
    margin: 30px auto;
}
a.icon-banana {
    background: url("../img/icons/banana128x128.png") no-repeat;
    width: 128px;
    padding-top: 133px;
    background-position:0px 0px;
    color: #7eb530;
    text-align: center;
    display: block;
    font-size: 16px;
    font-weight: bold;
}
a.icon-banana:hover {
    background: url("../img/icons/banana128x128.png") no-repeat;
    width: 128px;
    padding-top: 133px;
    background-position:-128px 0px;
    color: #7eb530;
    text-align: center;
    text-decoration: underline;
    display: block;
    font-size: 16px;
    font-weight: bold;
}

a.icon-cafe {
    background: url("../img/icons/cafe128x128.png") no-repeat;
    width: 128px;
    padding-top: 133px;
    background-position:0px 0px;
    color: #7eb530;
    text-align: center;
    display: block;
    font-size: 16px;
    font-weight: bold;
}
a.icon-cafe:hover {
    background: url("../img/icons/cafe128x128.png") no-repeat;
    width: 128px;
    padding-top: 133px;
    background-position:-128px 0px;
    color: #7eb530;
    text-align: center;
    text-decoration: underline;
    display: block;
    font-size: 16px;
    font-weight: bold;
}

a.icon-carne {
    background: url("../img/icons/carne128x128.png") no-repeat;
    width: 128px;
    padding-top: 133px;
    background-position:0px 0px;
    color: #7eb530;
    text-align: center;
    display: block;
    font-size: 16px;
    font-weight: bold;
}
a.icon-carne:hover {
    background: url("../img/icons/carne128x128.png") no-repeat;
    width: 128px;
    padding-top: 133px;
    background-position:-128px 0px;
    color: #7eb530;
    text-align: center;
    text-decoration: underline;
    display: block;
    font-size: 16px;
    font-weight: bold;
}

a.icon-fresa {
    background: url("../img/icons/fresa128x128.png") no-repeat;
    width: 128px;
    padding-top: 133px;
    background-position:0px 0px;
    color: #7eb530;
    text-align: center;
    display: block;
    font-size: 16px;
    font-weight: bold;
}
a.icon-fresa:hover {
    background: url("../img/icons/fresa128x128.png") no-repeat;
    width: 128px;
    padding-top: 133px;
    background-position:-128px 0px;
    color: #7eb530;
    text-align: center;
    text-decoration: underline;
    display: block;
    font-size: 16px;
    font-weight: bold;
}

a.icon-galleta {
    background: url("../img/icons/galleta128x128.png") no-repeat;
    width: 128px;
    padding-top: 133px;
    background-position:0px 0px;
    color: #7eb530;
    text-align: center;
    display: block;
    font-size: 16px;
    font-weight: bold;
}
a.icon-galleta:hover {
    background: url("../img/icons/galleta128x128.png") no-repeat;
    width: 128px;
    padding-top: 133px;
    background-position:-128px 0px;
    color: #7eb530;
    text-align: center;
    text-decoration: underline;
    display: block;
    font-size: 16px;
    font-weight: bold;
}

a.icon-hamburguesa {
    background: url("../img/icons/hamburguesa128x128.png") no-repeat;
    width: 128px;
    padding-top: 133px;
    background-position:0px 0px;
    color: #7eb530;
    text-align: center;
    display: block;
    font-size: 16px;
    font-weight: bold;
}
a.icon-hamburguesa:hover {
    background: url("../img/icons/hamburguesa128x128.png") no-repeat;
    width: 128px;
    padding-top: 133px;
    background-position:-128px 0px;
    color: #7eb530;
    text-align: center;
    text-decoration: underline;
    display: block;
    font-size: 16px;
    font-weight: bold;
}

a.icon-pastel {
    background: url("../img/icons/pastel128x128.png") no-repeat;
    width: 128px;
    padding-top: 133px;
    background-position:0px 0px;
    color: #7eb530;
    text-align: center;
    display: block;
    font-size: 16px;
    font-weight: bold;
}
a.icon-pastel:hover {
    background: url("../img/icons/pastel128x128.png") no-repeat;
    width: 128px;
    padding-top: 133px;
    background-position:-128px 0px;
    color: #7eb530;
    text-align: center;
    text-decoration: underline;
    display: block;
    font-size: 16px;
    font-weight: bold;
}

a.icon-pina {
    background: url("../img/icons/pina128x128.png") no-repeat;
    width: 128px;
    padding-top: 133px;
    background-position:0px 0px;
    color: #7eb530;
    text-align: center;
    display: block;
    font-size: 16px;
    font-weight: bold;
}
a.icon-pina:hover {
    background: url("../img/icons/pina128x128.png") no-repeat;
    width: 128px;
    padding-top: 133px;
    background-position:-128px 0px;
    color: #7eb530;
    text-align: center;
    text-decoration: underline;
    display: block;
    font-size: 16px;
    font-weight: bold;
}

a.icon-pizza {
    background: url("../img/icons/pizza128x128.png") no-repeat;
    width: 128px;
    padding-top: 133px;
    background-position:0px 0px;
    color: #7eb530;
    text-align: center;
    display: block;
    font-size: 16px;
    font-weight: bold;
}
a.icon-pizza:hover {
    background: url("../img/icons/pizza128x128.png") no-repeat;
    width: 128px;
    padding-top: 133px;
    background-position:-128px 0px;
    color: #7eb530;
    text-align: center;
    text-decoration: underline;
    display: block;
    font-size: 16px;
    font-weight: bold;
}

a.icon-plato {
    background: url("../img/icons/plato128x128.png") no-repeat;
    width: 128px;
    padding-top: 133px;
    background-position:0px 0px;
    color: #7eb530;
    text-align: center;
    display: block;
    font-size: 16px;
    font-weight: bold;
}
a.icon-plato:hover {
    background: url("../img/icons/plato128x128.png") no-repeat;
    width: 128px;
    padding-top: 133px;
    background-position:-128px 0px;
    color: #7eb530;
    text-align: center;
    text-decoration: underline;
    display: block;
    font-size: 16px;
    font-weight: bold;
}

a.icon-sopa {
    background: url("../img/icons/sopa128x128.png") no-repeat;
    width: 128px;
    padding-top: 133px;
    background-position:0px 0px;
    color: #7eb530;
    text-align: center;
    display: block;
    font-size: 16px;
    font-weight: bold;
}
a.icon-sopa:hover {
    background: url("../img/icons/sopa128x128.png") no-repeat;
    width: 128px;
    padding-top: 133px;
    background-position:-128px 0px;
    color: #7eb530;
    text-align: center;
    text-decoration: underline;
    display: block;
    font-size: 16px;
    font-weight: bold;
}

a.icon-uvas {
    background: url("../img/icons/uvas128x128.png") no-repeat;
    width: 128px;
    padding-top: 133px;
    background-position:0px 0px;
    color: #7eb530;
    text-align: center;
    display: block;
    font-size: 16px;
    font-weight: bold;
}
a.icon-uvas:hover {
    background: url("../img/icons/uvas128x128.png") no-repeat;
    width: 128px;
    padding-top: 133px;
    background-position:-128px 0px;
    color: #7eb530;
    text-align: center;
    text-decoration: underline;
    display: block;
    font-size: 16px;
    font-weight: bold;
}




.inside{
    background: #fff;
    -webkit-box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.05);
    box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.05);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
}

.leccion {
    border: 1px solid #f4f4f4;
    -webkit-box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.05);
    box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.05);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 30px 5px;
    padding: 10px;
}
.leccion h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0 10px 0;
}
.leccion .descripcion {
    color: #888;
    margin-bottom: 30px;
}
.leccion .empezar {
    color: #fff;
    border: 1px solid #ffa800;
    background: #ffb11b;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 100%;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    padding: 5px 10px;
}

.leccion.bloqueada {
    background: #eee;
}
.leccion.bloqueada h2 {
    color: #aaa;
}
.leccion.bloqueada .empezar {
    background: #ddd;
    border: 1px solid #ccc;
}

.nivel-info {
    text-align: center;
}
.nivel-info .avance{
    font-size: 14px;
    font-weight: bold;
    color: #888;
    margin: 5px;
}
.nivel-info .test-link {
    color: #fff;
    border: 1px solid #ffa800;
    background: #ffb11b;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 100%;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    margin: 20px 0;
}

.leccion-tip {
    text-align: center;
}
.leccion-tip h1 {
    font-size: 24px;
    color: #555;
}
.leccion-tip img {
    margin: 20px 0 40px 0;
}
.leccion-tip a {
    font-size: 14px;
    font-weight: bold;
    margin: 30px;
}




.sidebar {
    
}
.sidebar .progreso{
    text-align: center;
}
.sidebar .progreso img {
    width: 100%; 
}
.sidebar .progreso .avance{
    font-size: 14px;
    font-weight: bold;
    color: #888;
    margin: 5px;
}
.sidebar .progreso .test-link {
    color: #fff;
    border: 1px solid #ffa800;
    background: #ffb11b;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 100%;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    margin: 20px 0;
}

.footer {
    border-top: 1px solid #ccc;
    margin-top: 20px;
}

@media (max-width: 767px) {
    .leccion-tip img {
        width: 100%;
    }
}