<?php use Doctrine\Common\Util\Debug;
echo $this->doctype(); ?>

<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <?php echo $this->headTitle('PMA '. $this->translate('Colombia'))->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php /*echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0')*/ ?>

        <!-- Le styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
                        ->prependStylesheet($this->basePath() . '/css/style.css')
                        //->prependStylesheet($this->basePath() . '/css/bootstrap-responsive.min.css')
                        ->prependStylesheet($this->basePath() . '/css/bootstrap.css')
                        ->prependStylesheet($this->basePath() . '/lib/jMenu/css/jmenu.css')
        ?>

        <!-- Scripts -->
        <?php echo $this->headScript()->prependFile($this->basePath() . '/js/html5.js', 'text/javascript', array('conditional' => 'lt IE 9',))
                                      ->prependFile($this->basePath() . '/js/bootstrap.js')
                                      ->prependFile($this->basePath() . '/js/functions.js')
                                      ->prependFile($this->basePath() . '/js/nutrifami.js')
                                      ->prependFile($this->basePath() . 'https://www.gstatic.com/charts/loader.js')
                                      ->prependFile($this->basePath() . '/js/jquery-ui-1.10.4.custom.min.js')
                                      ->prependFile($this->basePath() . '/lib/dataTables/js/jquery.js')
                                      //->prependFile($this->basePath() . '/js/jquery-1.7.2.min.js')
        ?>

        <?php 
        // Verifica si esta logueado, sino vuelve al login
            if (!\Util\FamiliaSession::isLogin()){
        ?>
        <script type="text/javascript">$(location).attr('href',"/user/auth/login");</script>
        <?php 
            }
        // Fin Verificacion.
        ?>
        
    </head>
    <body>
        
        <div class="container-fluid header navbar-fixed-top"><div class="container">      
                <nav class="navbar navbar-default">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Nutrifami</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/user/familia/index">Historial compras <span class="sr-only">(current)</span></a></li>
                <li><a href="/user/familia/edu">Tips</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><?php echo \Util\FamiliaSession::getFullName(); ?></a></li>
                <li><a href="/user/auth/logout">Salir</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
        </div></div>

        <div class="container">
            <?php echo $this->content; ?>
        
        </div> <!-- /container -->
        <div class="container-fluid footer"><div class="container">
            <div class="row">
                <div class="col-md-12"
                    <p>&copy; <?php echo date('Y') ?> by PMA. <?php echo $this->translate('All rights reserved.') ?></p>
                </div>
            </div>
        </div></div>
        <?php echo $this->inlineScript() ?>
        <div id="overlay" style="display: none;">
            <div id="overlay_bg" class="bg"></div>
            <div id="overlay_content" class="content">
            </div>
            <div id="overlay_close" class="close" alt="Cerrar" title="Cerrar"></div>
        </div>
    </body>
</html>
